footer {
  font-family: 'Josefin Sans', sans-serif;
  border-top: 2px solid $itemColor;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: center;
  margin-top: 1em;

  .sm {
    margin-bottom: 0.5em;

    p {
      color: $ash;
    }

    div {
      margin-top: .5em;


      a {
        font-size: 1.7em;
        margin: 0 .25em;
      }
    }
  }

  .footer__tempo {
    font-size: 1.3em;
    padding-bottom: 0.2em;
  }

  .footer__copy {
    color: $ash;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 4em;
  }
}