header {
  display: flex;
  flex-flow: column-reverse;
  top: 0;
  position: sticky;
  background-color: $bgColor;
  box-shadow: 0 0 2px 0;


  

  @media only screen and (min-width: 768px) {
    flex-flow: column;
    position: relative;
    box-shadow: none;
  }

  .row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0;
    margin-top: 0.5em;
    
    


    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
  
  }

  .row:nth-of-type(1) {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-top: 1px solid $ash;

    @media only screen and (min-width: 768px) {
      border-bottom: 1px solid $ash;
    }
    
  }
  
  .time {
    padding-left: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
  }

  .credentials {
    @media only screen and (max-width: 768px) {
      .credentials__login {
        padding-right: 1em;
        padding-left: 0.3em;
        border-left: 1px solid $black;
      }
      
      .credentials__right {
        padding-right: 0.3em ;
      }
    }

    @media only screen and (min-width: 768px) {
      .credentials__register {
        padding: 0.5em;
        border: 1px solid $ash;       
      }

      .credentials__register:hover {
        border: 1px solid $black;
        transition: 0.3s;
      }

      .credentials__login {
        padding: 0.5em;
        margin-right: 1em;
        border: 1px solid $ash;
      }

      .credentials__login:hover {
        border: 1px solid $black;
        transition: 0.3s;
      }
    }      
  }

  .logo {

    &-lg {
      display: none;
      font-size: 1.7em;
      letter-spacing: 0.3em;

      @media only screen and (min-width: 768px) {
        display: block;
      }

    }

    &-sm {

      font-size: 1.2em;
      
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }    
  }

  .logo-sm {
    width: 100%;
    text-align: center;
    padding-right:32px;
  }

  .toggle {
    font-size: 2em;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 1.5em 1em;
    background: $bgcolor;
    display: none;
    z-index: 999;

    @media only screen and (min-width: 768px) {
      position: relative;
      top: 0;
      left: 0;
      height: fit-content;
      width: 100%;
      padding: 1.5em 1em;
      background: $bgcolor;
      display: block;
    }

    ul {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.3em;
      align-self: center;
      text-align: center;
      margin-top: -3.5em;     
      width: 80%;
      margin: auto;

      @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 0;
        

      }

      li {
        padding: 1em 0;

        @media only screen and (min-width: 768px) {

          text-decoration: none;

          .active {
            text-decoration: underline;
            text-decoration-thickness: 0.2em;  
          }
        }


        @media only screen and (min-width: 768px) {
          padding: 0;
        }

        a {
          font-size: 2em; 

          @media only screen and (min-width: 768px) {
            font-size: 1em;
          }
        }
      }
    }

    &__sm {
      align-self: center;

      a {
        font-size: 2em;
        margin: 0 .25em;
      }

    }

    &:target {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .lg-none {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}