@import 'reset', 'variables';

@import 'header', 'footer';

html, body {
  width: auto!important; overflow-x: hidden!important
}

.hero {
  height: calc(100vh - 119px);
  background: url('../media/img1.jpg') no-repeat top/cover;
  text-align: center;
  display: grid;
  place-content: center;
  

  a {
    padding: 3em 1.5em;
    display: block;


    h2 {
      background-color: rgba(255, 255, 255, 0.603);
      padding: 2em 1em;

      &::after {
        display: block;
        content: "Ver más";
        background: $detailColor;
        padding: .75em 1.5em;
        width: 200px;
        margin: auto;
      }
    }
  }
}



@mixin btn {
  background-color: $itemColor;
  border: none;
  margin: auto;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  opacity: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.home-button {
  @include btn();
}

.home-button:hover {
  background: $detailColor;
  transition: 0.15s;
}

.subtitle {
  text-align: center;
}


/* Articles */
.articles {
  margin-top: 2em;
  display: flex;
  flex-direction: column;


  .article {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 5px solid $menuColor;


    .article__info {
      text-align: justify;
      padding-top: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
    }

    .article__title {
      line-height: 1.4em;
    }

    .article__text {
      line-height: 1.7em;
      padding-top: 1em;
      padding-bottom: 1em;
    }


    .article__image {
      max-width: 100%;
      padding-bottom: 0.5em;
      padding-top: 1em;
    }
  }
}



/* Brands */
.brands {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-top: 2em;



  h3 {
    font-size: 1.3em;
  }


  .brands__img {
    width: 100%;
    margin: auto;
    padding: 3em 1em;
    display: block;
  }

  .brands__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $itemColor;
    padding: 1rem;
    height: 200px;
    width: 100%;
    max-width: 250px;
    border: 2px solid $detailColor;
    margin: auto;
  }

}

.max-width {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}






/* About Us */
.about__text {
line-height: 2em;
margin-top: 3em;
padding: 1em;

}



@media only screen and (min-width: 768px) {


  .row:nth-of-type(2) {
    background: $bgcolor;
  }

  .row:nth-of-type(1) {
    background: $menuColor;
  }

  .article__title--big {
    text-align: center;
  }

  .subtitle {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .articles {
    display: block;
    margin-top: 20px;
  }

  .article {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30px;
    border-bottom: 2px solid $menuColor;

    img {
      width: 800px;
      ;
    }

    .article__info {
      padding-right: 20px;
      margin: auto;
      max-width: 500px;
    }

    .article__title {
      font-size: 1.8em;
      padding-top: 2em;
    }

    .article__text {
      font-size: 1.1em
    }
  }


}



/*Form */
.form {
  position: relative;
  width: 500px;
  margin: auto;

  .form__input {
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      width: 500px;
      height: 50px;
      padding: 0 15px 0 15px;
  
      background: transparent;
      outline: none;
      color: #726659;
  
      transition: all 0.3s ease-in-out;
  }
  
  .name {
      border: solid 1px #b3aca7;
  }
  
  .email {
      border: solid 1px #b3aca7;
      border-top: none;
  }
  
  .form__age {
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      width: 500px;
      height: 50px;
      padding: 0 15px 0 15px;
  
      background: transparent;
      outline: none;
      color: #726659;
  
      border: solid 1px #b3aca7;
      border-top: none;
  
      transition: all 0.3s ease-in-out;
  }
  
  .form__input:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
  
  .form__textarea {
      width: 500px;
      max-width: 500px;
      height: 110px;
      max-height: 110px;
      padding: 15px;            
  
      background: transparent;
      outline: none;
  
      color: #726659;
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
  
      resize: none;
  
      border: solid 1px #b3aca7;
      border-top: none;
  
      transition: all 0.3s ease-in-out;
  }
  
  .form__textarea:hover {
      background: #b3aca7;
      color: #e2dedb;
  }
  
  .form__newsletter {
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      width: 500px;
      height: 50px;
      padding: 0px 15px 0 15px;
      line-height: 50px;            
  
      background: transparent;
      outline: none;
      color: #726659;
  
      border: solid 1px #b3aca7;
      border-top: none;
  
      transition: all 0.3s ease-in-out;
  }
  
  .form__submit {
      width: 500px;
      padding: 0;
      margin: -5px 0px 0px 0px;
  
      font-family: 'lato', sans-serif;
      font-size: 0.875em;
      color: #b3aca7;
      
      border: solid 1px #b3aca7;
      border-top: none;
  }
  
  .form__submit:hover {
      color: #e2dedb;
  }        
}   







@media only screen and (max-width: 768px) {
  
.hero {
  width: fit-content;
}


.form,
  .form > form,
  .form > form > .forminput,
  .form > form > .formtextarea,
  .form > form > .formnewsletter,
  .form > form > .formage {
    width: 100%;
  }

  .form > form > .form__textarea {
    max-width: 100%;
  }
}
